body{
	margin: 0;
	padding: 0;
	background-color: #ca34b1;
}

/* Use a container to center the content */
.container {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 20px;
}

h1{ /*change font family of heading*/
	font-family: sans-serif;
	margin: 20px 0;
	padding: 30px;
}

ul{ /*style the ul tag*/
	list-style-type: none;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

.skills{ /*style the text*/
	max-width: 600px;
	margin: 60px auto;
	border-radius: 50px;
	background-image: linear-gradient(100deg,#c02666,#5b0470);
	color: #fff;
	padding: 40px;
}

.skills li{ /*set margin of li*/
	margin: 20px 0;
}

.bar{ /*style the bar*/
	background-color: #3063d3;
	display: block;
	height: 2px;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 3px;
	overflow: hidden;
	box-shadow: 0 0 10px #2187e7b3;
}

.bar span{ /*style the span tag*/
	height: 2px;
	float: left;
	background-color: #2187e7;
}

/* Set skills and animation for each language */
.C{
	animation: C 2s;
}

.Cpp{
	animation: Cpp 2s;
}

.python{
	animation: python 2s;
}

.html{
	animation: html 2s;
}

.css{
	animation: css 2s;
}

.js{
	animation: js 2s;
}

.matplot{
	animation: matplot 2s;
}

/* Set the width for each language based on screen size */
@media only screen and (max-width: 768px) {
	.skills {
		padding: 20px;
	}
	.skills li {
		margin: 10px 0;
	}
	.C, .Cpp, .python, .html, .css, .js, .matplot {
		width: 100%;
	}
}

@media only screen and (min-width: 768px) {
	.C{
		width: 70%;
	}
	.Cpp{
		width: 85%;
	}
	.python{
		width: 70%;
	}
	.html{
		width: 85%;
	}
	.css{
		width: 90%;
	}
	.js{
		width: 50%;
	}
	.matplot{
		width: 55%;
	}
}

